<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyBD.Properties.Settings.otdel_kadr_ConnectionString"
            connectionString="Data Source=DESSAN-LAPTOP\SQLEXPRESS;Initial Catalog=otdel_kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>